.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  vertical-align: middle !important;
}

hr.small {
  margin: 10px 0 !important;
}

.badge.badge-banned {
  margin-left: 10px;
}

#ownreasons_buttons, .ban-reasons {
  margin-top: 5px;
}

.ban-reasons {
  width: 80%;
  display: inline-block;
}

#reasonCount {
  width: 20%;
  display: inline-block;
  text-align: right;
  margin-bottom: 10px;
}

.img-thumbnail {
  border: none !important;
  background-color: transparent !important;
}