.clicked {
  color: #fff !important;
  background-color: #902828 !important;
  border-color: #401212 !important;
}

.btn.btn-default {
  border-right-width: 4px;
}

.btn.btn-default:focus {
  background-color: #989898;
  border-color: #a5a5a5;
  color: white;
}

.btn.btn-default:visited {
  border-color: #bb4444;
}

.dataTables_filter {
  text-align: right;
}