.ban-reasons a.btn.btn-warning.dropdown-toggle {
  color: white;
}

.ban-reasons a.btn.btn-danger.dropdown-toggle {
  color: white;
}

#ownreasons_buttons, .ban-reasons {
  margin-top: 5px;
}

.ban-reasons {
  width: 80%;
  display: inline-block;
}

#reasonCount {
  width: 20%;
  display: inline-block;
  text-align: right;
  margin-bottom: 10px;
}